.tarjetaContainer{
    width: 25%;

}
.tarjeta{
    color: rgb(220, 220, 220);
    background-color: rgb(73, 73, 73);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.description{
    margin-top: 0.5rem;
}
.value{
    margin-top: 0.5rem;
}
.productImage{
    width: 100%;
    padding-top: 1rem;
    border-radius: 0.3rem;
}
